[*.cs]

# IDE0160: Convert to block scoped namespace
csharp_style_namespace_declarations = file_scoped

# IDE0022: Use block body for method
csharp_style_expression_bodied_methods = when_on_single_line

# IDE0061: Use block body for local function
csharp_style_expression_bodied_local_functions = when_on_single_line

# IDE0060: Remove unused parameter
dotnet_diagnostic.IDE0060.severity = none

# CA1010: Collections should implement generic interface
dotnet_diagnostic.CA1010.severity = none

# IDE0024: Use block body for operator
dotnet_diagnostic.IDE0024.severity = none
